<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.thangiee.lolhangouts"
          android:versionCode="2011"
          android:versionName="@string/app_version">

    <uses-sdk
            android:minSdkVersion="14"
            android:targetSdkVersion="23"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="com.android.vending.BILLING"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <application
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:name=".MyApplication">

        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <meta-data android:name="AA_DB_NAME" android:value="MessageLogs.db"/>
        <meta-data android:name="AA_DB_VERSION" android:value="4" />
        <meta-data android:name="AA_MODELS"
                   android:value="com.thangiee.lolhangouts.data.datasources.entities.MessageEntity, com.thangiee.lolhangouts.data.datasources.entities.SummSearchHistEntity"/>

        <service android:name=".ui.services.LoLHangoutsService"/>

        <activity
                android:name=".ui.login.LoginActivity"
                android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".ui.regionselection.RegionSelectionActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:label="@string/app_name"
                android:noHistory="true"/>

        <activity
                android:name=".ui.main.MainActivity"
                android:label="@string/app_name"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:windowSoftInputMode="adjustResize"
                android:launchMode="singleTop"/>

        <activity
                android:name=".ui.settings.SettingsActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:theme="@style/PreferenceScreenStyle"
                android:label="Settings">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ui.main.MainActivity"/>
        </activity>

        <activity
                android:name=".ui.profile.ViewProfileActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:label="@string/app_name"/>

        <activity
                android:name=".ui.main.AboutActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:label="@string/app_name"/>

        <activity
                android:name=".ui.scoutgame.ViewGameScouterActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:label="@string/app_name"/>

        <activity
                android:name="com.google.android.gms.ads.AdActivity"
                android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>

        <receiver android:name=".ui.receivers.DeleteOldMsgReceiver"/>
    </application>
</manifest>
